@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;

}

.plus {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: var(--white);
    transition: all 300ms linear;
    margin-top: 5px;

}

.underline:hover::after {
    width: 100%;
}

.bg-navbar {
    background: var(--dark);
    border-bottom: 1px solid var(--grey)
}

.py-navbar {
    padding: 16px 0px 16px 0px;
}

.max-w-1351 {
    max-width: 1351px !important;
}

.op-80 {
    opacity: 80%;
}

.gap-51 {
    gap: 51px;
}

.home {
    transition: all 300ms linear;
}

.home:hover {
    opacity: 1;
}

.gap-46 {
    gap: 46px;
}

.btn-nav {
    background: linear-gradient(159.94deg, var(--rgb) -14.36%, var(--blue) 113.71%);
    box-shadow: 0px 4px 32px 0px var(--blue2);
    max-width: 126px;
    border-radius: 40px;
    padding: 13px 32px;
    border: 1px solid transparent;
    outline: none;
    transition: all 300ms linear;
}

.btn-nav:hover {
    background: linear-gradient(159.94deg, var(--blue) -14.36%, var(--rgb) 113.71%);
    border: 1px solid var(--white);
    box-shadow: 0px 0px 22px 0px var(--white);

}

.header-bg {
    background-color: var(--dark);
    background-image: url(../images/header-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

.max-w-1140 {
    max-width: 1140px !important;
}

.gap-17 {
    gap: 17px;
}

.line_1 {
    height: 2px;
    background: var(--lightblue);
    max-width: 109px;
    border-radius: 2px;
}

.pt_6 {
    padding-top: 6px;
}

.header-para {
    max-width: 515px;
}

.op-70 {
    opacity: 70%;
}

.btn-req {
    max-width: 178px;
    padding: 13px 32px;
    border-radius: 40px;
    background: linear-gradient(159.94deg, var(--rgb) -14.36%, var(--blue) 113.71%);
    box-shadow: 0px 4px 32px 0px var(--blue2);
    border: 1px solid transparent;
    outline: none;
    transition: all 300ms linear;
}

.pt-28 {
    padding-top: 28px;
}

.btn-req:hover {
    background: linear-gradient(159.94deg, var(--blue) -14.36%, var(--rgb) 113.71%);
    border: 1px solid var(--white);
    box-shadow: 0px 0px 22px 0px var(--white);
}

.py-header {
    padding-top: 81px;
    padding-bottom: 82.88px;
}

.max-w-1210 {
    max-width: 1210px;
}

.cp {
    cursor: pointer;
}

.header-svg {
    bottom: -10%;
    left: 0%;
}

/* slider */
.sec-2 {
    background: var(--dark);
    margin-top: -2px;
}

.max-w-1411 {
    max-width: 1411px;
}

.pt-30 {
    padding-top: 30px;
}

.gap-43 {
    gap: 43px;
}

.max-138 {
    max-width: 138.43px;
}

.py-slider {
    padding-top: 35.12px;
    padding-bottom: 53.99px;
}

.max-w-1170 {
    max-width: 1170px;
}

.max-615 {
    max-width: 615.72px;
}

.sec3-heading {
    max-width: 467.71px;
}

.sec3-para {
    max-width: 474.98px;
    padding-top: 8px;
}

.btn-watch {
    max-width: 213px;
    padding: 13px 32px;
    background: linear-gradient(159.94deg, var(--rgb) -14.36%, var(--blue) 113.71%);
    border-radius: 40px;
    box-shadow: 0px 4px 32px 0px var(--blue2);
    border: 1px solid transparent;
    outline: none;
    transition: all 300ms linear;
}

.btn-watch:hover {
    border: 1px solid var(--white);
    box-shadow: 0px 0px 22px 0px var(--white);
}

.mt-28 {
    margin-top: 28px;
}

.bg_transparent {
    background: transparent;
    filter: var(--black);
    -webkit-filter: grayscale(1);
    -webkit-transition: all 0.5s ease-in-out;

}

.bg_transparent:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

/* sec-4//////// */

.py-sec4 {
    padding-top: 102.97px;
    padding-bottom: 177.47px;
}

.gap-10 {
    gap: 10px;
}


.sec-4-box1 {
    max-width: 531px;
    background: var(--blur);
    padding: 17.47px 58.92px 35.53px 15px;
    border-radius: 10px;
    transition: all 300ms linear;
}

.sec-4-box2 {
    max-width: 531px;
    background: var(--blur);
    border-radius: 10px;
    padding: 22px 22px 23px 22px;
    transition: all 300ms linear;
}

.gap-22 {
    gap: 22px;
}

.min-box {
    border-radius: 8px;
    background: var(--blur);
    width: 64px;
    height: 64px;
    padding: 16px;
}

.gap_5 {
    gap: 5px;
}

.sec-4-para {
    max-width: 370px;

}

.sec-4-box2:hover {
    box-shadow: 0px 0px 10px 0px var(--white);
}

.sec-4-box1:hover {
    box-shadow: 0px 0px 10px 0px var(--white);
}

/* section-5///////////// */
.gap-44 {
    gap: 44px;
}

.gap-16 {
    gap: 16px;
}

.sec-5-box {
    max-width: 400px;
    padding: 13.87px 100px 13.87px 16px;
    border-radius: 10px;
    background: var(--blur2);
    transition: all 300ms linear;
}

.gap-14 {
    gap: 14px;
}

.sec5-mini {
    width: 51px;
    height: 51px;
    background: var(--blur2);
    border-radius: 26.13px;
    padding: 13px;
}

.max-645 {
    max-width: 645px;
}

.sec-5-box:hover {
    box-shadow: 0px 0px 10px 0px var(--white);
}

.sec-5-p {
    padding-bottom: 130px;
}

.gap-24 {
    gap: 24px;
}

.slider-2-card {
    max-width: 946px;
    border-radius: 20px;
    padding: 27px 56px 42px 56px;
    background: var(--blur);

}

.max-83 {
    max-width: 83px;
}

.pt-13 {
    padding-top: 13px;
}

.pt-46 {
    padding-top: 46px;
}

.responsive_2.slick-track {
    display: flex !important;
}

.slick-slide {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    height: inherit !important;
}

.slick-slide .div {
    display: flex !important;
}

.py-slider-2 {
    padding-top: 45px;
    padding-bottom: 42px;
}

.pb-130 {
    padding-bottom: 130px;
}

.max-637 {
    max-width: 637px;
}

.max-467 {
    max-width: 467px;
}

.max-474 {
    max-width: 474px;
}

.btn-learn {
    border: 1px solid transparent;
    outline: none;
    max-width: 150px;
    background: linear-gradient(159.94deg, var(--rgb) -14.36%, var(--blue) 113.71%);
    box-shadow: 0px 4px 32px 0px var(--blue2);
    padding: 13px 32px;
    border-radius: 40px;
    transition: all 300ms linear;
}

.btn-learn:hover {
    box-shadow: 0px 0px 22px 0px var(--white);
    border: 1px solid var(--white);
}

.pb-sec-7 {
    padding-bottom: 208px;
}

.slick-dots {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
}

.slick-dots li.slick-active {
    background: var(--lightblue);
    width: 53px !important;
    border-radius: 28px !important;
    height: 10px !important;
    margin-bottom: 1px !important;
    transition: all 300ms linear !important;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: transparent !important;

}

.slick-dots li button:before {
    font-family: slick;
    font-size: 10px !important;
    line-height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px !important;
    height: 10px !important;
    content: '•';
    text-align: center;
    opacity: 1 !important;
    color: var(--white) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

/* sec-8//////// */
.gap_8 {
    gap: 8px;
}

.gap-63 {
    gap: 63px;
}

.sec-8-card {
    max-width: 231px;
    padding: 21px;
    background: var(--blur);
    border-radius: 15px;
    transition: all 300ms linear;
}

.sec-8-card2 {
    max-width: 189px;
    border-radius: 22px;
    border: 1px solid var(--border);
    background: var(--bg1);
    padding: 19px 14px 19px 14px;
}

.doted-box {
    border: 1px dotted var(--lightblue);
    max-width: 161px;
    border-radius: 5px;
    padding: 9px 7px 9px 7px;
}

.max-svg {
    max-width: 48px;

}

.mt_10 {
    margin-top: 10px;
}

.btn_add {
    max-width: 129px;
    border-radius: 44px;
    padding: 3px 19px 3px 15px;
    background: var(--lightblue);
    transition: all 300ms linear;
    border: 1px solid transparent;
}

.btn_add:hover {
    border: 1px solid var(--white);
    box-shadow: 0px 0px 5px 0px var(--white);
}

.gap_6 {
    gap: 6px;
}

.mt-13 {
    margin-top: 13px;
}

.gap-13 {
    gap: 13px;
}

.gap_11 {
    gap: 11px;
}

.sec-8-card3 {
    max-width: 189px;
    border-radius: 22px;
    border: 1px solid var(--border);
    background: var(--bg1);
    padding: 12px 24px 12px 17px;
}

.sec-8-card4 {
    max-width: 189px;
    border-radius: 22px;
    border: 1px solid var(--border);
    background: var(--bg1);
    padding: 12px 7px 12px 10px;
}

.pt_8 {
    padding-top: 8px;
}

.blue-box {
    max-width: 88px;
    padding: 3px 5px 2px 2px;
    background: var(--lightblue);
    border-radius: 4px;
}

.blue-box1-1 {
    max-width: 88px;
    padding: 3px 5px 2px 2px;
    background: var(--black);
    border-radius: 4px;
}

.blue-box-2 {
    background: var(--lightblue);
    border-radius: 4px;
}

.blue-box-2-2 {
    background: var(--black);
    border-radius: 4px;
}

.pt_7 {
    padding-top: 7px;
}

.blue-box-3 {
    max-width: 115px;
    padding: 3px 5px 2px 2px;
    background: var(--lightblue);
    border-radius: 4px;
}

.blue-box-3-3 {
    max-width: 115px;
    padding: 3px 5px 2px 2px;
    background: var(--black);
    border-radius: 4px;
}

.line-box {
    height: 0.5px;
    background: var(--black2);

}

.mb_2 {
    margin-bottom: 2px;
}

.gap-25 {
    gap: 25px;
}

/* sec-8///////////// */
.py-sec8 {
    padding-top: 58px;
    padding-bottom: 76px;
}

.sec-8-card:hover {
    box-shadow: 0px 0px 10px 0px var(--white);
    cursor: pointer;
}

.plus-svg {
    top: -17px;
    right: -20px;
}

.arrow_r {
    display: none;

}

.arrow_r2 {
    display: none;

}

.arrow_r3 {
    display: none;
}

.btn-try {
    max-width: 126px;
    padding: 13px 32px 13px 32px;
    border-radius: 40px;
    border: 1px solid transparent;
    outline: none;
    background: linear-gradient(159.94deg, var(--rgb) -14.36%, var(--blue) 113.71%);
    box-shadow: 0px 4px 32px 0px var(--blue2);
    transition: all 300ms linear;
}

.btn-try:hover {
    box-shadow: 0px 0px 22px 0px var(--white);
    border: 1px solid var(--white);
}

.pb-174 {
    padding-bottom: 174px;
}

.pb-71 {
    padding-bottom: 71px;
}

.pb-121 {
    padding-bottom: 121px;
}

.col-hover {
    transition: all 300ms linear;

}

.col-hover:hover {
    box-shadow: 0px 0px 8px 0px var(--lightblue);
}

/* sec-9///////////// */
.para-sec-9 {
    max-width: 525px;
}

.para-sec-9-2 {
    max-width: 474px;
}

.btn-sec-9 {
    max-width: 150px;
    padding: 13px 32px 13px 32px;
    border-radius: 40px;
    border: 1px solid transparent;
    outline: none;
    background: linear-gradient(159.94deg, var(--rgb) -14.36%, var(--blue) 113.71%);
    box-shadow: 0px 4px 32px 0px var(--blue2);
    transition: all 300ms linear;
}

.btn-sec-9:hover {
    box-shadow: 0px 0px 22px 0px var(--white);
    border: 1px solid var(--white);
}

.max-507 {
    max-width: 507px;
}

.pb-207 {
    padding-bottom: 207px;
}

.py-sec10 {
    padding-top: 56px;
    padding-bottom: 33px;
}

/* sec-10///////////// */

.sec-10-box-1 {
    padding-top: 58px;
}

.sec-10-box {
    border-bottom: 1px solid var(--border2);
    padding-top: 51px;
    padding-bottom: 23px;
}

.sec-10-box-main {

    padding-bottom: 48px;
    transition: all 300ms linear;
    cursor: pointer;
}

.gap-20 {
    gap: 20px;
}

.gap-23 {
    gap: 23px;
}

.btn-select {
    max-width: 115px;
    opacity: 70%;
    padding: 13px 32px 13px 32px;
    border-radius: 40px;
    border: 1px solid var(--white);
    outline: none;
    box-shadow: 0px 4px 32px 0px var(--blue2);
    transition: all 300ms linear;
    background: transparent;
}

.pt-87 {
    padding-top: 87px;
}

.sec-10-box-main:hover .btn-select {
    background: linear-gradient(159.94deg, var(--rgb) -14.36%, var(--blue) 113.71%);
    opacity: 1;
    border: 1px solid transparent;
}

.sec-10-box-main:hover .blue-hover {
    color: var(--lightblue);
}

.sec-10-col1 {
    border-right: 1px solid var(--border2);
}

.border-t {
    border-top: 1px solid var(--border2);
}

/* sec-11///////////////// */
.bg-sec11 {
    background-image: url(../images/sec-11.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.linear-box {
    background: linear-gradient(180deg, #020D15 100%, rgba(2, 13, 21, 0) 0);
    left: 0%;
    height: 86px;
}

.linear-box-2 {
    background: linear-gradient(180deg, #020D15 100%, rgba(2, 13, 21, 0) 0);
    left: 0%;
    height: 86px;
}

.py-sec-11 {
    padding-top: 122px;
    padding-bottom: 126px;
}

.sec-11-para {
    max-width: 617px;
}

.sec-11-box {
    max-width: 520px;
    border-radius: 29px;
    background: var(--box);
    margin-top: 46px;
    padding-left: 33px;
}
.mt_2{
    margin-top: -2px;
}
.max-w-1320{
    max-width: 1320px;
}
.op-60{
    opacity: 60%;
}
.max-225{
    max-width: 225px;
}
.translate_up{
    transition: all 300ms linear;
}
.translate_up:hover{
    transform: scale(1.2);
}
.pt-19{
    padding-top: 19px;
}
.pt-36{
    padding-top: 36px;
}
.pt-103{
    padding-top: 103px;
}
.foot_hover{
    transition: all 300ms linear;
}
.foot_hover:hover{
    opacity: 1;
}



































@media (min-width:576px) {
    .col_border_1 {
        border-right: 1px solid var(--border2);
        border-bottom: 1px solid var(--border2);
    }

    .col_border_2 {

        border-bottom: 1px solid var(--border2);
    }

    .col_border_3 {
        border-right: 1px solid var(--border2);
        border-bottom: 1px solid var(--border2);
    }

    .col_border_4 {

        border-bottom: 1px solid var(--border2);
    }

    .col_border_5 {
        border-right: 1px solid var(--border2);
        border-bottom: 1px solid var(--border2);
    }

    .col_border_6 {

        border-bottom: 1px solid var(--border2);
    }

    .col_border_7 {
        border-right: 1px solid var(--border2);

    }

    .col_border_8 {
        border-right: 1px solid var(--border2);

    }

    .arrow_r {
        top: 24%;
        left: 42%;
        display: block;

    }

    .arrow_r2 {
        top: 66%;
        left: 42%;
        display: block;

    }

    .padding_1 {
        padding: 58.32px 53.53px 38.27px 38.27px;
    }

    .padding_2 {
        padding: 61.7px 44.56px 70.72px 54.1px;
    }

    .padding_3 {
        padding: 47.94px 116.11px 55.63px 116.69px;
    }

    .padding_4 {
        padding: 44.02px 63.93px 63.37px 84.42px;
    }

    .padding_5 {
        padding: 66.13px 51.47px 63.94px 35.92px;
    }

    .padding_6 {
        padding: 59.13px 48.29px 60.95px 32.64px;
    }

    .padding_7 {
        padding: 64.06px 32.16px 65.88px 57.72px;
    }

    .padding_8 {
        padding: 64.06px 14.53px 65.88px 49.14px;
    }

}

@media (max-width:576px) {
 .sec-11-box{
    padding-left: 0px;
 }
}

@media (min-width:992px) {
    .arrow_r {
        top: 40%;
        left: 21%;
        display: block;

    }

    .arrow_r2 {
        top: 40%;
        left: 46%;
        display: block;

    }

    .arrow_r3 {
        top: 40%;
        left: 71%;
        display: block;
    }

    .col_border_1 {
        border-right: 1px solid var(--border2);
        border-bottom: 1px solid var(--border2);
    }

    .col_border_2 {
        border-right: 1px solid var(--border2);
        border-bottom: 1px solid var(--border2);
    }

    .col_border_3 {
        border-right: 1px solid var(--border2);
        border-bottom: 1px solid var(--border2);
    }

    .col_border_4 {

        border-bottom: 1px solid var(--border2);
    }

    .col_border_5 {
        border-right: 1px solid var(--border2);
        border-bottom: 0px solid var(--border2);
    }

    .col_border_6 {
        border-right: 1px solid var(--border2);
        border-bottom: 0px solid var(--border2);
    }

    .col_border_7 {
        border-right: 1px solid var(--border2);

    }

    .col_border_8 {
        border-right: 0px solid var(--border2);
    }

    .border-t {
        border-top: 0px;
    }
}

@media (min-width:1120px) {
    .arrow_r {
        top: 40%;
        left: 21%;
        display: block;

    }

    .arrow_r2 {
        top: 40%;
        left: 46%;
        display: block;

    }

    .arrow_r3 {
        top: 40%;
        left: 71%;
        display: block;
    }
}

@media (max-width:768px) {
    .py-sec-11 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
   
    .pt-87 {
        padding-top: 45px;
    }

    .sec-10-box {
        border-bottom: 1px solid var(--border2);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .pb-121 {
        padding-bottom: 50px;
    }

    .py-header {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .py-sec4 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .sec-4-box1 {
        padding: 15px 15px 15px 15px;
    }

    .sec-5-box {

        padding: 13.87px 40px 13.87px 16px;
    }

    .sec-5-p {
        padding-bottom: 50px;
    }

    .pb-130 {
        padding-bottom: 40px;
    }

    .pb-sec-7 {
        padding-bottom: 50px;
    }

    .py-sec8 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pb-174 {
        padding-bottom: 40px;
    }

    .pb-71 {
        padding-bottom: 40px;
    }

    .pb-207 {
        padding-bottom: 50px;
    }

}

@media (max-width:991px) {
    .mobile_view {
        position: fixed;
        background: var(--dark);
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 500ms ease-in-out;
        z-index: 50;
    }

    .menu {
        z-index: 100;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(2) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(3) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span {
        transition: 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-17px);
        transition: 300ms linear;
    }


}